.Login{
  .login-background {
    height: 100vh;
  }

  .login-content {
    height: 100vh;
    overflow: auto;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 30px;
    background-color: #f0f3f7;
  }

  .ant-tabs {
    width: 100%;
  }
}

.logo-image{
  max-width: 100%;
}
